* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
}

.border {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #ed4224, yellow);
}

.navbar-div-wrapper {
    display: flex;
    max-height: 70px;
}

.left-nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 70%;
}

.photo-div {
    display: flex;
    justify-content: center;
}

.me {
    height: 50px;
    width: 50px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    border: 1px solid black;
}

.burger-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.burger {
    margin: 0 auto;
    height: 5px;
    width: 20px;
    background-color: #ed4224;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 2px;
}

header {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding: 15px;
}

.hero-section {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 80%;
}

.hero {
    font-family: 'Maven Pro', sans-serif;
    line-height: 35px;
    font-size: 24px;
    font-weight: 900;
}

.gradient {
    position: relative;
    right: 15px;
    background-image: linear-gradient(to right, yellow, #ed4224);
    height: 1px;
    width: 100%;
}

.bio-section {
    font-family: 'Space Mono', monospace;
    min-width: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.bio {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin: auto;
    text-align: center;
    background-color: white;
}

.project-checkout {
    font-family: 'Space Mono', monospace;
    font-size: 18px;
}

.project-img {
    width: 80%;
    max-height: 400px;
}


@media screen and (min-width: 1024px){

}

.hidden {
    display: none;
}

