* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: lightgray;
}

.navbar {
    position: fixed;
    z-index: 30;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    font-size: 18px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

.border {
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #ed4224, yellow);
}

.navbar-div-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.left-nav {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.photo-div {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.me {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.name {
    font-family: 'Maven Pro', sans-serif;
    display: none;
    color: orange;
    margin: auto 0;
}

.middle-nav {
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
    color: orange;
    margin: auto 0;
}

.right-nav {
    font-family: 'Maven Pro', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
}

.burger-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.burger {
    margin: 0 auto;
    height: 5px;
    width: 20px;
    background-color: orange;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 2px;
}

.hot-links {
    display: none;
    color: orange;
}

.burger-pop {
    font-family: 'Maven Pro', sans-serif;
    position: fixed;
    z-index: 25;
    display: flex;
    top: 71px;
    left: 0px;
    background-color: black;
    color: orange;
    height: 25px;
    width: 100%;
}

.left {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 33%;
    border-right: 1px solid black;
}

.center {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    width: 33%;
    border-right: 1px solid black;
}

.right {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 33%;
}

header {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 75px;
    padding-bottom: 30px;
}

.hero-section {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.hero {
    font-family: 'Maven Pro', sans-serif;
    line-height: 36px;
    font-size: 24px;
    font-weight: 900;
    padding-left: 15px;
}

.gradient {
    background-image: linear-gradient(to right, yellow, #ed4224);
    height: 2px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.bio-section {
    font-family: 'Maven Pro', sans-serif;
    margin: auto;
    width: 300px;
}

.bio {
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    line-height: 33px;
    padding-left: 10px;
}

main {
    padding-bottom: 30px;
    text-align: center;
    background-color: white;
    border-top: 1px solid black;
}

.projects {
    font-family: 'Space Mono', monospace;
    border-top: 1px solid black;
    padding-top: 20px;
}

.project-title {
    text-align: center;
    /* width: 80%; */
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.project-stuff {
    text-align: left;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.project-img {
    width: 80%;
}

.project-skills {
    padding-bottom: 20px;
}

.project-a, .email {
    color: orange;
}

.about-me {
    font-family: 'Maven Pro', sans-serif;
    text-align: left;
    max-width: 80%;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 24px;

}

h2 {
    text-align: center;
}

#project-2 {
    background-color: lightgray;
}

@media screen and (min-width: 1024px){
    .me:hover {
        border: 1px solid orange;
    }
    .burger-wrapper {
        display: none;
    }
    .hot-links {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .name {
        display: flex;
    }
    .left-nav {
        display: flex;
        justify-content: space-evenly;
    }
    .middle-nav p{
        display: none;
    }
    header {
        flex-direction: row;
        width: 80%;
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 125px;
    }
    .hero-section {
        width: 350px;
    }
    .hero {
        width: 350px;
        font-size: 36px;
        line-height: 54px;
    }
    .bio-section {
        width: 350px;
    }

    .bio {
        font-size: 24px;
        line-height: 36px;
    }
    .gradient {
        height: 290px;
        width: 2px;
        background-image: linear-gradient(to bottom, yellow, #ed4224);        
    }
    .project-img {
        max-width: 900px;
    }
    .project-stuff {
        padding-left: 15px;
        max-width: 900px;
    }
    .project-title {
        padding-left: 15px;
        max-width: 900px;
    }
    .about-me {
        padding-left: 15px;
        max-width: 900px;
    }
    h2 {
        text-align: left;
    }
   

}

.hidden {
    display: none;
}

